html,
body {
    height: 100%;
    margin: 0;
}


/* Header */

.header {
    background: #1F2937;
    height: 60px;
    width: 100%;
    border-style: none;
    display: flex;
}

.header-logo {
    font-size: 24px;
    color: #f9faf8;
    border: none;
    justify-content: center;
    align-items: flex-start;
}

.header-links {
    font-size: 18px;
    color: #e5e7eb;
    justify-content: center;
    align-items: flex-end;
}


/* Hero section */

.hero {
    background: #1F2937;
    height: 500px;
    width: 100%;
    border-style: none;
    display: flex;
}

.hero-main-text {
    font-size: 48px;
    font-weight: 900;
    color: #f9faf8;
    justify-content: center;
    align-items: flex-start;
}